<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>   <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>   <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>   <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Charles Brian Quinn">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/lib/css/style.css">
  <link rel="stylesheet" type="text/css" href="/lib/fonts/fonts.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
  <link rel="stylesheet" media="handheld" href="/lib/css/handheld.css?v=2">


  <!-- Twitter Card data -->
  <meta name="twitter:card" value="{{ page.description }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="https://seebq.com{{ page.url }}" />
  <meta property="og:image" content="https://seebq.com/charlesbrianquinn3.jpg" />
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="profile:first_name" content="Charles">
  <meta property="profile:last_name" content="Quinn">
  <meta property="profile:username" content="seebq">
</head>

<body>

  {{ content }}

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>  
  
  <!-- in-lining javascript since it is small -->
  <script type="text/javascript">
    jQuery( function($) {
      $('.buttons a').each( function() {
        $(this).attr('sbtooltip', $(this).attr("title") ).removeAttr("title");
      });
    });
  </script>
  
  <!--[if lt IE 7 ]>
    <script src="lib/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- google analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21869827-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>